body {
  background: #191919;
  color: white;
  font-size: 30px;
  text-align: center;
}
body #container {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
body #container .main-title {
  font-size: 50px;
  margin-bottom: 20px;
}
body #container .length-control {
  width: 250px;
}
body #container button {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
body #container .btn-level,
body #container .length-control {
  display: inline-block;
}
body #container .btn-level .btn-level:nth-child(3),
body #container .length-control .btn-level:nth-child(3) {
  width: 40px;
}
body #container .timer {
  border: 5px solid #fafafa;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 160px;
  border-radius: 25px;
  position: relative;
  
}
body #container .timer .timer-wrapper {
  position: absolute;
  width: 190px;
  height: 110px;
  left: 50%;
  top: 50%;
  margin-left: -95px;
  margin-top: -57px;
}
body #container .timer #time-left {
  font-family: digital;
  font-size: 80px;
}
body #container .timer .timer-control button:active {
  color: #13353a;
}
.timer-control{
  display:flex;
  margin-top: 15px;
  justify-content: center;
  align-items:center ;
  
}
.timer-start, .timer-stop, .timer-reset {
  cursor: pointer;
  padding-left: 10px;
}
.codePen{
  margin-top: 200px;
  display: block;
}
@keyframes redTextAnimation {
  0% {
    color: white;
  }
  25% {
    color: red;
  }
  100% {
    color: white;
  }
}

.red-time {
  animation: redTextAnimation 5s linear;
}
@media screen and (max-width: 500px) {
  #container {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
